/* src/assets/main.css */
:root {
    --primary-color: #1867C0;
    --secondary-color: #5CBBF6;
  }
  
  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  #app {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  